
<div class="container">
<div class="headline"><h2>Meet Our Board</h2></div>
<div class="row team">
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Betsy Carpentier</a> <small>Treasurer</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Cindy Saad</a> <small>Secretary</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Christy Clonts</a> <small>Board Member</small></h3>
<p>Christy, of Wisdom Scout Coaching and Ceremonies, is a Holistic Life Coach, Life Cycle Celebrant®, writer and teacher. Healing Icons is proud to be partnering with Christy!<strong> <%= link_to "Visit Wisdom Scout", "http://www.wisdomscout.net" %></strong></p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Josanne Wilson</a> <small>Board Member</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
</div>

<br>
<div class="row team">
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Michele Baker</a> <small>Board Member</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Merle Fendig</a> <small>Board Member</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Amanda Pollack</a> <small>Intern</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
<div class="col-sm-3">
<div class="thumbnail-style">
<img src="<%= asset_path("team-1.jpg") %>" class="img-responsive" alt="optional logo">
<h3><a>Porta Gravida</a> <small>Intern</small></h3>
<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, justo sit amet risus etiam porta sem...</p>
</div>
</div>
</div>
</div>
