




<div class="container portfolio-4-columns">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Melody.JPG") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("IMG_2949.JPG") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("IMG_7124.JPG") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("memexico.JPG") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>

</div>
</div>
</div>
</div><!--/row-->
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
</div><!--/row-->
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("Heidism.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Insights Into Healing</h2>
<p>At vero eos et accusamus et iusto odio dignissimos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</p>
<a href="portfolio_item.html" class="info">Learn More</a>
</div>
</div>
</div>
</div>


