
<br>
<br>
<div class="container">
<div class="title-box">
<div class="title-box-text">Introducing<span class="color-green"> Art as Healing</span> </div>
<p>Healing Icons introduces the creative process as a means of confronting psychosocial and spiritual turmoil of disease through self-expression and inner dialog.<br> An Icon is simply a visual symbol representing a pivotal person or event in one’s life. Listed below are artists, videos and articles that us art as healing:</p>
</div>
</div>
<div class="container portfolio-4-columns">
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("mandala.jpg") %>" class="img-responsive" alt="The Mandala Project">
<div class="mask">
<h2>The Mandala Project</h2>
<a href="http://mandalaproject.org/Index.html" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("leslie.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>Leslie Dill</h2>
<a href="http://www.lesleydill.net/" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("frida.jpg") %>" class="img-responsive" alt="Frida Kahlo Protrait">
<div class="mask">
<h2>Frieda Kahlo</h2>
<a href="http://www.fridakahlo.com/" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("romi.jpg") %>" class="img-responsive" alt="Remedios Varo">
<div class="mask">
<h2>Remedios Varo</h2>
<a href="http://www.remediosvaro.org/" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
</div><!--/row-->
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("duane-michals.jpg") %>" class="img-responsive" alt="Duane Michals">
<div class="mask">
<h2>Duane Michals</h2>
<a href="http://www.dcmooregallery.com/artists/duane-michals" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("joseph.jpg") %>" class="img-responsive" alt="Joseph Cornell">
<div class="mask">
<h2>Joseph Cornell</h2>
<a href="http://www.josephcornellbox.com/" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("lenore.jpg") %>" class="img-responsive" alt="Lenore Tawney Picture">
<div class="mask">
<h2>Lenore Tawney</h2>
<a href="http://craftcouncil.org/magazine/article/lenore-tawney-spiritual-revolutionary" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="view view-tenth">
<img src="<%= asset_path("mcrichards.jpg") %>" class="img-responsive" alt="Heidi-Darr Hope Portrait">
<div class="mask">
<h2>MC Richards</h2>
<a href="http://www.youtube.com/watch?v=akh6enU6Gds" class="info" target="blank">Learn More</a>
</div>
</div>
</div>
</div><!--/row-->

