<br>
<br>
		<section class="gray-bg padding-top">
		
			<div class="container">
				
				<h1 class="section-title">Current Class Offerings</h1>
				<p class="section-description">Healing Icons offers support and community at all stages of the healing process. <br>Our classes offer art as healing for adult oncology patients. A family member or caregiver may attend with the survivor.</p>
				
			</div>
			
		</section>  

	<div class="wrapper">
      <div class="container">
        <div class="row">
<center><h2><i class="fa fa-leaf"></i> Seasons of Healing Workshops</h2></center>
<center><p>Sign up for one or all sessions:</p></center>
<br>
<div class="col-sm-7">
<h3>Autumn Workshop</h3>
<p>Understanding Uncertainty, Unity, Wholeness and Balance</p>
<br>
<p>Wednesday - September 10th from 1pm – 5pm<br>
Mixed Media Mandalas for Releasing, Letting Go</p>
<br>
<p>Wednesday - September 17th from 11am – 2pm<br>
*Open Studio – independent workshop time</p>
<br>
<p>Wednesday - September 24rd from 1pm – 5pm<br>
Mixed Media Mandalas for Harvesting Gratitude</p>
<br>
<p>Wednesday - October 1st from 11am – 2pm<br>
*Open Studio – independent workshop time</p>
<br>
<p>Wednesday - October 8th from 1pm – 5pm<br>
Mixed Media Mandalas for Accepting Uncertainty</p>
</div>

<div class="col-sm-5">
<h3>Winter Workshop</h3> 
<p>Coming Home to Ourselves: Exploring Bookmaking</p>
<br>
<p>Wednesday - November 5th from 1pm – 5pm<br>
Creating a Visual Journal for Remembering</p>
<br>
<p>Wednesday – November 12th from 11am – 2pm<br>
*Open Studio – independent workshop time</p>
<br>
<p>Wednesday - November 19th from 1pm – 5pm<br>
Creating a Visual Journal for Letting Go</p>
<br>
<p>Wednesday - November 26th from 11am - 2pm<br>
*Open Studio – independent workshop time</p>
<br>
<p>Wednesday - December 3rd from 1pm – 5pm<br>
Creating a Visual Journal for Discovery</p>

</div>
</div>
</div>
</div>

<br>
<br>
  <div class="container">
   <div class="row">
   
<center><div class="icon"><i class="fa fa-stethoscope fa-3x"></i></div><br><h2>Lexington Medical Center</h2></center>
<br>
<p class="section-description">
2728 Sunset Boulevard, West Columbia, SC 29169<br>
Register early as class size is limited<br>
Email: <a href="mailto:info@healingicons.org" class=""><span class="color-blue">info@healingicons.org</span></a><br>
Or call Libby Daniels (803)-791-2289<br>
Jennifer Peagler (803)-791-2617<br>
</div>
</div>


<div class="wrap">
	<div class="container">
	   <div class="row">
				<h1 class="section-title">Living Legacies</h1>
<p class="section-description">Images into Words, Words into Images: An East Coast, West Coast Dialog<br>   
Sponsored by The University of South Carolina’s The Center for Colon Cancer Research</p>
 

<p class="section-description-1">You might not be old enough to remember the phenomenon of Pen Pals but we are basing Living Legacies on that old fashioned concept.  This idea of communicating to a stranger through the art of the hand written note has held the promise of a new friendship potentially filled with fresh perspectives on what it is to be human.  Our exchange will link cancer survivors from different cities, states and perhaps even countries using the visual arts and creative writing to begin an extraordinary conversation about what it is like to live with cancer.</p>

 

<p class="section-description-1">East Coast Visual Artist Heidi Darr-Hope of Healing Icons and West Coast Writer Dr. Sharon Bray of <a href="http://sharonbray.net/" class=""><span class="color-blue">Writing through Cancer</span></a> at the University of California at San Diego<a href="http://cancer.ucsd.edu/Pages/default.aspx" class=""><span class="color-blue"> Moores Cancer Center</span></a>  and <a href="http://www.scripps.org/services/cancer-care" class=""><span class="color-blue">Scripts Green Cancer Centers</span></a> in La Jolla, California will collaborate in this innovative exchange.  Both of these artists have well over two decades of experience working with cancer survivors.</p>

 

<p class="section-description-1">On the east coast, Healing Icons® will guide participants to create visually from their cancer experience, using collage, and expressive painting techniques.  On the west coast, Sharon Bray will offer expressive writing exercises.  The writers will send their work to the artists who will respond visually to their words.  The artists will send their creations to the writers who will respond accordingly.  Back and forth the creative process will weave.</p>

<p class="section-description">Tuesdays – October 14, 21, 28, Nov. 4, 11, 18<br>
		from 1:00 pm – 3:00 pm<br>
		*Most art supplies included<br><br>
This series will be held at The Lourie Center<br>
1650 Park Circle   Columbia, SC   29201<br>
<br>
Register early as class size is limited.<br>
Email us at <a href="mailto:info@healingicons.org" class=""><span class="color-blue">info@healingicons.org</span></a> or call us at (803)-429-4151</p>

</div>
</div>
</div>    

  <div class="container">
   <div class="row">
   <br>
   <br>
   <br>
<div class="headline"><h2>What we do- it's easy</h2></div>
<div class="row">
<div class="col-md-3 col-sm-6">
<div class="thumbnails thumbnail-style thumbnail-kenburn">
<div class="thumbnail-img">
<div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-1.jpg") %>">
<img src="<%= asset_path("recent-works-1.jpg") %>" alt="student work">
</a>
</div>
</div>
<div class="caption">
<h4>Community Mandalas</h4>
<p>We jump at the opportunity to create Community Nature Mandalas, however small or large. Each mandala has an intention, a purpose for its creation. When the mandala is completed, it rests for a few days and then is swept up and placed into a body of water, a lake, stream or ocean. </p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="thumbnails thumbnail-style thumbnail-kenburn">
<div class="thumbnail-img">
<div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-2.jpg") %>">
<img src="<%= asset_path("recent-works-2.jpg") %>" alt="student work">
</a>
</div>
</div>
<div class="caption">
<h4>Personal Mandalas</h4>
<p>Using pencil and sometimes paint, we get lost in the process of creating intuitive and mindful mandalas.</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="thumbnails thumbnail-style thumbnail-kenburn">
<div class="thumbnail-img">
<div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-3.jpg") %>">
<img src="<%= asset_path("recent-works-3.jpg") %>" alt="student work">
</a>
</div>
</div>
<div class="caption">
<h4>Seriously Creative</h4>
<p>Our artful creations foster communication with ourselves and the group they were created in. As intimate communities of hope and optimism are built, we begin to transform the trauma of cancer into opportunities for growth.</p>
</div>
</div>
</div>
<div class="col-md-3 col-sm-6">
<div class="thumbnails thumbnail-style thumbnail-kenburn">
<div class="thumbnail-img">
<div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-4.jpg") %>">
<img src="<%= asset_path("recent-works-4.jpg") %>" class="responsive" alt="student work">
</a>
</div>
</div>
<div class="caption">
<h4>Mixed Media Messiness</h4>
<p>We love to dive into lots of materials, get lost, and follow where the creative process leads us. There is not right or wrong way to creat!</p>
</div>
</div>
</div>
</div><!--/row-->
<!-- End Recent Works -->
</div> 
</div>
</div>

<!-- References: https://github.com/fancyapps/fancyBox -->
<link rel="stylesheet" href="//frontend.reklamor.com/fancybox/jquery.fancybox.css" media="screen">
<script src="//frontend.reklamor.com/fancybox/jquery.fancybox.js"></script>

