<br>
<br>
		<section class="gray-bg padding-top">
		
			<div class="container">
				
				<h1 class="section-title">Current Class Offerings</h1>
				<p class="section-description">Healing Icons offers support and community at all stages of the healing process. <br>Our classes offer art as healing for adult oncology patients. A family member or caregiver may attend with the survivor.</p>
				
			</div>
			
		</section>  
		<div class="container">
<!--Title Box-->

<div class="container">
<div class="row">
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-bolt fa-large color-blue"></i>
<strong>Creative Freedom</strong>
<p>Our goal is to inspire movement during the journey of cancer recovery fueled by the creative act.</p>
</div>
</div>
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-coffee fa-large color-blue"></i>
<strong>Dedicated Support</strong>
<p>We build small communities of hope and optimism to transform
the trauma of cancer into opportunity.</p>
</div>
</div>
<div class="col-md-4">
<div class="promo-box">
<i class="fa fa-heart fa-large color-blue"></i>
<strong>The Art of Survival</strong>
<p>Discovering depth in the smallest of things we experience the resiliency of the human spirit.</p>
</div>
</div>
</div>
<br>
<br>
</div>
</div>


<div class="wrap">
      <div class="container">
        <div class="row">
        <br>
        <br>
<center><h2><i class="fa fa-leaf"></i> Seasons of Healing Workshops</h2></center>
<center><p>Sign up for one or all sessions:</p></center>
       </div>
      </div>


<br>
<br>

<div class="container">

<div class="row">

     

      <div class="col-md-4 col-sm-8">
	  <div class="thumbnails thumbnail-style thumbnail-kenburn">
      <div class="thumbnail-img">
      <div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-1.jpg") %>">
<img src="<%= asset_path("recent-works-1.jpg") %>" alt="student work">
</a>
     </div>
     </div>
         <div class="caption">
<h4>Autumn Workshop</h4>
<p>Understanding Uncertainty, Unity, and Balance</p>
<br>
<p>Releasing and Letting Go<br>
Wednesday - September 10th | 1pm – 5pm<br>
</p>
<br>
<p>*Independent Workshop Time<br>
Wednesday - September 17th | 11am – 2pm<br>
</p>
<br>
<p>Harvesting Gratitude<br>
Wednesday - September 24rd | 1pm – 5pm<br>
</p>
<br>
<p>*Independent Workshop Time<br>
Wednesday - October 1st | 11am – 2pm<br>
</p>
<br>
<p>Accepting Uncertainty<br>
Wednesday - October 8th | 1pm – 5pm<br>
</p>
        </div>
</div>
</div>





     <div class="col-md-4 col-sm-8">
     <div class="thumbnails thumbnail-style thumbnail-kenburn">
     <div class="thumbnail-img">
     <div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-2.jpg") %>">
<img src="<%= asset_path("recent-works-2.jpg") %>" alt="student work">
</a>
     </div>
     </div>
         <div class="caption">
<h4>Winter Workshop</h4> 
<p>Coming Home to Ourselves: Exploring Bookmaking</p>
<br>
<p>Creating a Visual Journal<br>
Wednesday - November 5th | 1pm – 5pm<br>
</p>
<br>
<p>*Independent Workshop Time<br>
Wednesday – November 12th | 11am – 2pm<br>
</p>
<br>
<p>Letting Go<br>
Wednesday - November 19th | 1pm – 5pm<br>
</p>
<br>
<p>*Independent Workshop Time<br>
Wednesday - November 26th | 11am - 2pm<br>
</p>
<br>
<p>Journal for Discovery<br>
Wednesday - December 3rd | 1pm – 5pm<br>
</p>
            </div>
</div>
</div>



<div class="col-md-4 col-sm-8">
<div class="thumbnails thumbnail-style thumbnail-kenburn">
<div class="thumbnail-img">
<div class="overflow-hidden">
<a class="thumbnail fancybox" rel="ligthbox" href="<%= asset_path("recent-works-3.jpg") %>">
<img src="<%= asset_path("recent-works-3.jpg") %>" alt="student work">
</a>
</div>
</div>
<div class="caption">
<h4>Living Legacies</h4>
<p>Images into Words, Words into Images:<br> An East Coast, West Coast Dialog<br>   
</p>
 

<p>Our exchange will link cancer survivors from different cities, states and countries using visual arts and creative writing to begin an extraordinary conversation about what it is like to live with cancer.</p>

<p>On the east coast, Healing Icons® will guide participants to create visually from their cancer experience. On the west coast, <a href="http://sharonbray.net/" class=""><span class="color-blue">Dr. Sharon Bray</span></a> will offer expressive writing exercises.  The writers will send their work to the artists who will respond visually to their words.  The artists will send their creations to the writers who will respond accordingly, weaving the creative process.</p>

<p>Tuesdays 1:00-3:00 pm | 
Oct. 14, 21, 28 | Nov. 4, 11, 18<br>
<small>The Lourie Center, 1650 Park Circle Columbia, SC 29201</small><br>

Email: <a href="mailto:info@healingicons.org" class=""><span class="color-blue">info@healingicons.org</span></a> 

</div>
</div>
</div>


</div>
</div>
</div>


<br>
<br>
  <div class="container">
   <div class="row">
   
<center><div class="icon"><i class="fa fa-stethoscope fa-3x"></i></div><br><h2>Lexington Medical Center</h2></center>
<br>
<p class="section-description">
2728 Sunset Boulevard, West Columbia, SC 29169<br>
Register early as class size is limited<br>
Email: <a href="mailto:info@healingicons.org" class=""><span class="color-blue">info@healingicons.org</span></a><br>
Or call Libby Daniels (803)-791-2289<br>
Jennifer Peagler (803)-791-2617<br>
</div>
</div>


<!-- References: https://github.com/fancyapps/fancyBox -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <link rel="stylesheet" href="/fancybox/jquery.fancybox.css" type="text/css" media="screen" />
    <script type="text/javascript" src="/fancybox/jquery.fancybox.pack.js"></script>

