<nav class="navbar navbar-default navbar-fixed-top" role="navigation">

  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_path %>"><i class="fa fa-codepen"></i> Healing Icons</a>
  </div>


  <div class="collapse navbar-collapse navbar-ex1-collapse">
     <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
         <li><%= link_to "Schedule", schedule_path %></li>
          <li class="divider"></li>
         <li><%= link_to "eCourse", ecourse_path %></li>
          </ul>
        </li>


<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Impact <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Vision", about_path %></li>
          <li class="divider"></li>
         <li><%= link_to "Philosophy", vision_path %></li>
          </ul>
        </li>

<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">People <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
        <li><%= link_to "Founder", founder_path %></li>
          <li class="divider"></li>
            <li><%= link_to "Board", board_path %></li>
          </ul>
        </li>



<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Stories <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
                 <li><%= link_to "Students", students_path %></li>
          <li class="divider"></li>
            <li><%= link_to "Gallery", gallery_path %></li>
          </ul>
        </li>

        <li><%= link_to "Inspiration", inspiration_path %></li>

      <li><%= link_to "Help Us", donations_path %></li>
    </ul>
</li>

     

     
</div>
</nav>

